@if(saleSummary !== null){
<div class="flex flex-col justify-between sm:h-full">
	<div class="flex items-center flex-wrap mt-3">
		<div class="py-2 px-2">
			<div class="app-text-h3-medium">
				~{{ saleSummary.totalSale }}{{ saleSummary.currencySymbol}}
			</div>
			<div class="flex items-center"
				 [ngClass]="getProgressIconColor(saleSummary.progressSaleInPercent)">
				<mat-icon class="mr-2"
						  [fontIcon]="getProgressionIcon(saleSummary.progressSaleInPercent)"></mat-icon>
				(
				{{ getProgressionSymbol(saleSummary.progressSaleInPercent) }}{{
				saleSummary.progressSaleInPercent }}%
				)
			</div>
		</div>
		<div class="py-2 px-2">
			<div class="app-text-h3-medium">
				~{{ saleSummary.amountSold }} {{ 'DASHBOARD.CARDS.SALE.ITEMS' | translate }}
			</div>
			<div class="flex items-center"
				 [ngClass]="getProgressIconColor(saleSummary.progressAmountSoldInPercent)">
				<mat-icon class="mr-2"
						  [fontIcon]="getProgressionIcon(saleSummary.progressAmountSoldInPercent)"></mat-icon>
				(
				{{ getProgressionSymbol(saleSummary.progressAmountSoldInPercent) }}{{
				saleSummary.progressAmountSoldInPercent }}%
				)
			</div>
		</div>
	</div>
	<div class="flex justify-end sm:mb-10">
		<button mat-flat-button
				class="app-button-flat">{{ 'SHARED.SEE_MORE' | translate }}</button>
	</div>
</div>
}